	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/08/2019 05:52
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-invencion:before { content: "\f100"; }
.flaticon-casa:before { content: "\f101"; }
.flaticon-sobre:before { content: "\f102"; }
.flaticon-configuraciones:before { content: "\f103"; }
.flaticon-estrella:before { content: "\f104"; }
.flaticon-avatar:before { content: "\f105"; }
.flaticon-lupa:before { content: "\f106"; }
.flaticon-senal-de-flecha-hacia-abajo-para-navegar:before { content: "\f107"; }
.flaticon-agregar-boton-dentro-del-circulo-negro:before { content: "\f108"; }
.flaticon-exito:before { content: "\f109"; }
.flaticon-cursor:before { content: "\f10a"; }
.flaticon-sale-tag:before { content: "\f10b"; }
.flaticon-pagina-diaria-del-calendario-en-el-dia-31:before { content: "\f10c"; }
.flaticon-corazon:before { content: "\f10d"; }
.flaticon-mas-boton-de-tres-puntos:before { content: "\f10e"; }

.rotate-icon {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
}
